body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.destination-Default {
    background-image: url('../images/bghome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.destination-Rome {
    background-image: url('../images/Romepage.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.destination-Londres {
    background-image: url('../images/Londonpage.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.destination-Monaco {
    background-image: url('../images/Monacopage.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.destination-Tunis {
    background-image: url('../images/Tunispage.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 65px;
}

.borderTop {
    border: solid 2px;
    color: #9CB7D0;
    margin-right: 70%;
}

.borderBottom {
    border: solid 2px;
    color: #9CB7D0;
    margin-left: 70%;
    
}
/* .borderCenter {
    background-color: 9CB7D0;
    border: none;
    height: 80px;
    border-bottom: solid 5px;
    color: 06427B;
} */

.logo {
    width: 70%;
}

.stp {
    background-color: #06427B !important;
}

.link {
    text-decoration: none;
}